<section class="banner">
  <div class="banner-content">
    <div class="banner-text">
      <div class="title">Bem-vindo a Espanha</div>
      <div class="text">Conheça seus esportes</div>
      <button (click)="saibaMais()">
        Saiba Mais <i class="fa-solid fa-right-from-bracket"></i>
      </button>
    </div>
    <div class="space"></div>
  </div>
</section>
<section class="info line-bottom" #initialText>
  <div class="text">
    A Espanha é um país apaixonado por esportes, onde a competição e a
    paixão pelo jogo se entrelaçam com a cultura e a história. Ao longo dos
    anos, os esportes desempenharam um papel fundamental na vida dos
    espanhóis, moldando sua identidade nacional e proporcionando momentos de
    orgulho e alegria. Neste texto, exploraremos alguns dos esportes mais
    populares da Espanha, que variam desde os tradicionais até os mais
    modernos, e mergulharemos na rica herança esportiva que faz parte da
    tapeçaria da nação ibérica.
  </div>
</section>

<section class="info-back info line-bottom back-madrid">
  <div class="text" style="color: white">
    <h1>Sua Historia Esportiva</h1>
  </div>
</section>
<section class="info line-bottom">
  <div class="text">
    Um dos primeiros esportes da Espanha, foi no século XV, "A verdadeira
    esgrima" (1472) de J. Pons e "O manejo das armas de hj combate" (1473)
    de P. de la Torre. Além disso, Gaspar Melchor de Jovellanos elaborou um
    "Plano de Educação Pública", no qual figurava amplamente o exercício
    físico.
    <br /><br />
    Para além de certos dados sobre o desporto no país, as origens da
    ginástica e a Educação Física foram em 1806, ano em que Francisco Amorós
    abriu em Madrid, o Real Instituto Militar Pestalozziano graças a Carlos
    IV e a Godoy. Teve grande prestígio e se praticava a ginástica, o
    hipismo, a esgrima e outros aparelhos concebidos pelo próprio.[1] Também
    Francisco de Aguilera, Conde de Villalobos, fundou e dirigiu o ginásio
    da Academia de Artillería de Segovia.
    <br /><br />
    Durante os anos 1850 fundou-se a Sociedade espanhola para promover a
    criação de cavalos, além de criar os primeiros ginásios privados, como o
    madrilenho "Vignolles", em 1851, e o "Círculo particular ginástico", em
    1853. A partir de 1875 aparecem as primeiras competições de ciclismo no
    parque do Retiro. Dois anos mais tarde nas festas da Merced em Barcelona
    também havia competições esportivas e em 1878 foi fundada a Sociedade
    Velocipedista Madrilenha e o Clube Velocipédico de Cádiz.
    <br /><br />
    Embora as sociedades ciclistas se multiplicassem, criou-se a primeira
    associação de ginástica, a "Sociedad Gimnástica Española", em Madri.
    Além disso em 1889, foi fundado a primeira equipa de futebol, o
    Recreativo de Huelva e em 1892 o C.D. Riotinto. Em 1896 se legaliza
    oficialmente a federação de ciclismo, em 1898 criou-se a Federação
    Espanhola de Sociedades Ginásticas e durante os seguintes anos aparecem
    continuamente sociedades desportivas no futebol, natação, atletismo e
    hóquei
  </div>
</section>

<section class="info">
  <div class="text text-italic">Seus Esportes</div>
</section>

<section class="info-back info back-fute">
  <div class="text" style="color: white"><h1>Futebol</h1></div>
</section>
<section class="info line-bottom">
  <div class="text">
    Futebol: O futebol é, sem dúvida, o esporte mais popular e amado na
    Espanha. O país é o lar de alguns dos clubes mais renomados do mundo,
    como o Real Madrid e o Barcelona. A rivalidade entre esses dois gigantes
    é feroz e atrai fãs de todo o mundo. Além disso, a seleção nacional
    espanhola, conhecida como "La Roja," conquistou a Copa do Mundo FIFA em
    2010, o que reforçou ainda mais o fervor pelo esporte em todo o país.
  </div>
</section>

<section class="info-back info back-tourada">
  <div class="text" style="color: white"><h1>Tourada</h1></div>
</section>
<section class="info line-bottom">
  <div class="text">
    Tourada: Apesar de ser um esporte controverso, a tourada tem profundas
    raízes culturais na Espanha. Ela é mais do que uma simples competição
    esportiva, é uma forma de arte e tradição que remonta a séculos. Os
    eventos de touros acontecem em toda a Espanha, com a Plaza de Toros de
    Las Ventas, em Madri, sendo uma das arenas mais famosas.
  </div>
</section>

<section class="info-back info back-esgrima">
  <div class="text" style="color: white"><h1>Esgrima</h1></div>
</section>
<section class="info line-bottom">
  <div class="text">
    Esgrima: A esgrima é um esporte de combate que combina destreza,
    agilidade e precisão. Com origens antigas, evoluiu para uma disciplina
    esportiva altamente competitiva. É dividida em três modalidades:
    florete, espada e sabre. Os esgrimistas usam equipamentos especializados
    e se destacam pela técnica e estratégia. A esgrima é uma parte
    importante dos Jogos Olímpicos e valoriza a disciplina, o respeito e a
    ética esportiva.
  </div>
</section>

<section class="info-back info back-tenis">
  <div class="text" style="color: white"><h1>Tenis</h1></div>
</section>
<section class="info line-bottom">
  <div class="text">
    Tênis: A Espanha tem uma forte tradição no tênis, com alguns dos
    melhores jogadores do mundo, como Rafael Nadal. Nadal é amplamente
    considerado um dos maiores tenistas de todos os tempos e é reverenciado
    por seu espírito competitivo e sua determinação. O Aberto da Espanha,
    realizado em Barcelona e Madri, é um dos eventos mais importantes do
    calendário internacional de tênis.
  </div>
</section>

<section class="info-back info back-ciclista">
  <div class="text" style="color: white"><h1>Ciclismo</h1></div>
</section>
<section class="info line-bottom">
  <div class="text">
    Ciclismo: O ciclismo é um esporte muito popular na Espanha, com a Vuelta
    a España sendo uma das três Grandes Voltas do ciclismo mundial, ao lado
    do Tour de France e do Giro d'Italia. Este evento anual atrai ciclistas
    e fãs de todo o mundo, explorando paisagens espetaculares da Espanha.
  </div>
</section>

<section class="info">
  <div class="text text-italic">
    Em resumo, os esportes na Espanha são uma parte integral da cultura e da
    vida cotidiana. Desde o futebol até a tourada, essas atividades
    esportivas representam a diversidade e a paixão do povo espanhol.
    Independentemente de você ser um amante do esporte ou um apreciador da
    cultura, a Espanha oferece uma experiência esportiva única e
    emocionante.
  </div>
</section>
